<div class="banner">
  Outside In: A Surround Sound Communal Listening Event.
  <a href="https://www.eventbrite.com/e/the-world-according-to-sound-outside-in-tickets-107158985410">
    Get tickets
  </a>
</div>
<div class="site-header">
    <h1>
      <img class="site-icon" src="/assets/world_logo_alt.png">
      <span class="site-title hidden">
          <div>The World</div>
          <div class="second-line">According to Sound</div>
          <div class="site-tagline">A miniature audio show and surround sound event</div>
      </span>
    </h1>
</div>
