<div class='tour-dates'>
  <div>
    We’re touring in 2018 again! For the show, we set up a ring of powerful speakers, turn out the lights, and surround you with sounds from our 90-second radio show.
  </div>
  <div>
    <div>
        <span><b>November 19th</b></span>
        <span>&mdash;</span>
        <a href='https://www.eventbrite.com/e/the-world-according-to-sound-tickets-51898153775'>Piano Fight</a>
        <span>@ 8pm</span>
        <span>&mdash;</span>
        <span>San Francisco, PA</span>
    </div>
    <div>
        <span><b>November 26th</b></span>
        <span>&mdash;</span>
        <a href='https://ccrma.stanford.edu/events/the-world-according-to-sound-live'>Stanford (CCRMA)</a>
        <span>@ 7:30 pm</span>
        <span>&mdash;</span>
        <span>Stanford, CA</span>
    </div>
    <div>
        <span><b>November 27th</b></span>
        <span>&mdash;</span>
        <a href='https://www.eventbrite.com/e/the-world-according-to-sound-live-at-uc-berkeley-tickets-52438940282'>UC Berkeley, Wheeler Hall</a>
        <span>@ 5:30 pm and 8:00 pm</span>
    </div>
    <div>
        <span><b>November 30th</b></span>
        <span>&mdash;</span>
        <a href='https://www.eventbrite.com/e/the-world-according-to-sound-live-tickets-52377561697'>Minnesota Street Project</a>
        <span>@ 8:30 pm</span>
        <span>&mdash;</span>
        <span>San Francisco, CA</span>
    </div>
    <div>
        <span><b>December 5th</b></span>
        <span>&mdash;</span>
        <span>UC Davis, Arena Theater</span>
        <span>@ 6:00 pm</span>
        <span>&mdash;</span>
        <span>Davis, CA</span>
    </div>
    <div class='tour-subtext'>
      This is a launch tour for our new partnership with the <a href='http://lighthouse-sf.org/' target='_blank'>LightHouse for the Blind and Visually Impaired</a>. We’re working together to create a whole new live show and radio series that presents the sonic experience of the blind. We’ll be releasing new radio episodes in January, and we’re scheduled to take the new show on tour in April 2019.
    </div>
  </div>
</div>
