<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

  {% include head.html %}

  <body>

    {% if page.exclude_header != true %}
      {% include header.html %}
      {% include navigation.html %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include lightbox.html %}

    <!-- Defer loadding CSS -->
    <script>
      var loadCSS = function(href) {
        var stylesheet = document.createElement('link');
        stylesheet.href = href;
        stylesheet.rel = 'stylesheet';
        stylesheet.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(stylesheet);
      };

      var cb = function() {
        loadCSS('https://fonts.googleapis.com/css?family=Monoton|Righteous');
        loadCSS('//cdn.rawgit.com/noelboss/featherlight/1.3.4/release/featherlight.min.css');
      };

      var raf = requestAnimationFrame || mozRequestAnimationFrame ||webkitRequestAnimationFrame || msRequestAnimationFrame;

      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>

    <script defer="defer" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script defer="defer" src="//cdn.rawgit.com/noelboss/featherlight/1.3.4/release/featherlight.min.js"></script>
    <script defer="defer" src="//connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script defer="defer" src="//w.soundcloud.com/player/api.js"></script>
    <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
    <script defer="defer" src="/js/lib/fontfaceobserver.js"></script>
    <script defer="defer" src="/js/main.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68153488-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>
