<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class='site-banner'>
        <span>Join us for our first live show!</span>
        <span>August 26th and 27th</span>
        <span>at The Lab in San Francisco</span>
        <a href='http://www.thelab.org/projects/2016/7/28/the-world-according-to-sound' target='_blank'>Get Tickets</a>
    </div>

    {% include navigation.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include navigation.html %}

    {% include footer.html %}
    {% include lightbox.html %}

    <div class="addthis_vertical_follow_toolbox"></div>

  </body>

</html>
